{% extends "base.html" %}
{% load static %}
{% block 'body' %}
 <div class="flex min-h-screen bg-slate-900"> 
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <img class="h-30 w-auto" src={% static 'SIGNO-LOGO.png' %} alt="Logo">
          <h2 class="mt-4 text-2xl/9 font-bold tracking-tight text-gray-100">Crie sua conta no SIGNO</h2>
          <p class="mt-2 text-sm/6 text-gray-500">
            Já tem uma conta?
            <a href="{% url 'login' %}" class="font-semibold text-indigo-300 hover:text-indigo-200">Faça login</a>
          </p>
        </div>
        <div class="mt-8">{% if messages %}
          {% for message in messages %}
                 <div class="rounded-md {{message.tags}} mt-4">
                     <div class="flex">
                         <div class="ml-3 py-4">
                             {{message}}
                         </div>
                     </div>
                 </div>
          {% endfor %}
          {% endif %}
          <div>
            <form action="" method="POST" class="space-y-6">
              {% csrf_token %}
              <div>
                <label for="email" class="block text-sm/6 font-medium text-gray-200">Usuário</label>
                <div class="mt-2">
                    <input type="text" name="username" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                  </div>
              </div>
              <div>
                <label for="password" class="block text-sm/6 font-medium text-gray-200">Senha</label>
                <div class="mt-2">
                    <input type="password" name="password1"  required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                  </div>
              </div>
              <div>
                <label for="password" class="block text-sm/6 font-medium text-gray-200">Confirmar senha</label>
                <div class="mt-2">
                    <input type="password" name="password2" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                  </div>
                </div>
                <div>
                  <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="relative hidden w-0 flex-1 lg:block">
        <!--img class="absolute inset-0 size-full object-cover" src={% static 'ims.jpg' %} alt=""-->
      </div>
    </div>
   {% endblock 'body' %}